<div style="width:1000px; height:1580px; margin:auto; top:50%; line-height:1100px;">
  <center style="vertical-align:middle;">
    <h1 style='font-family: "ＭＳ ゴシック",sans-serif; font-size: 100px;'><%= @input_word %></h1> 
  </center>
</div>  

<table width="1000px">
  <% @img_urls.each_with_index do |img_url, i| %>
    <% if 0 == (i % 2) %>
      <tr>
    <% end %>
    <td><%= image_tag img_url %></td>
    <% if 1 == (i % 2) %>
      </tr>
    <% end %>
  <% end %>
</table>
