<h1 "style= width500;height=500;">Erohons#search</h1>
<p>Find me in app/views/erohons/search.html.erb</p>
<%= form_tag "erohons/result" do %>
  <%= text_field_tag :search_word, nil %>
  <%= submit_tag "エロ本づくり" %>
<% end %>