<h1 style="width:500px;height:500px;">Erohons#search</h1>
<p>Find me in app/views/erohons/search.html.erb</p>
<%= form_tag "erohons/result" do %>
  <%= text_field_tag :search_word, nil %>
  <%= submit_tag "エロ本づくり" %>
<% end %>